%div{:id => "session_#{session.id}"}
  .header
    .author
      %h3
        %span{:class => 'label'} #{t('roles.author')} :
        =session.user.greeter_name
    .title
      %h3= session.title
    .clear

  .description
    :plain
      #{markup(session.description)}