$wood: #DEB887
$orange: #FFA500

@mixin box($color)
  -moz-border-radius: 5px 5px 5px 5px
  border-radius: 5px 5px 5px 5px
  border: 5px solid darken($color, 10%)
  background-color: $color
  height: 100%

body
  font-family: Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif
  font-size: 15px

#header

#container
  margin: 0 auto
  padding: 0
  text-align: left

  #user_navigation
    @include box($orange)
    text-align: center
    float: right
    width: 180px
    z-index: 1

  .header
    @include box($wood)

#footer
