$wood: #DEB887
$orange: #FFA500
$sand: #DBE3E2
$darkblue: #182f4c

@mixin box($color)
  -moz-border-radius: 5px 5px 5px 5px
  border-radius: 5px 5px 5px 5px
  border: 5px solid darken($color, 10%)
  padding: 0 10px
  background-color: $color
@mixin content()
  width: 960px
  margin-left: auto
  margin-right: auto

body
  font-family: Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif
  font-size: 15px
  margin: 0 auto
  padding: 0
  background-color: $sand

  #user_navigation
    @include content
    text-align: right

  #header
    background-color: white
    background-image: url('/images/header_opt.png')
    background-repeat: repeat-x
    height: 130px
    color: $darkblue

    #header_container
      @include content
    
      #thumb
        float: left
        width: 100px
        margin: 15px
    
      #head
        float: left

      .menuItem
        float: left
        margin-top: 75px

  .header
    @include box($wood)
    .author
      float: left
      width: 33%
    .tags
      float: left
    .title
      float: left
      width: 67%
    .clear
      clear: both

  #content
    @include content
    background-color: $sand

#footer
