@charset "UTF-8";
/*
 * see http://www.fontsquirrel.com/fonts/ChunkFive#fontface
 */
@font-face {
  font-family: "ChunkFiveRegular";
  src: url("/fonts/ChunkFiveRegular/Chunkfive-webfont.eot");
  src: local("☺"), url("/fonts/ChunkFiveRegular/Chunkfive-webfont.woff") format("woff"), url("/fonts/ChunkFiveRegular/Chunkfive-webfont.ttf") format("truetype"), url("/fonts/ChunkFiveRegular/Chunkfive-webfont.svg#webfontb5K2fJwj") format("svg"); }

/*
 * see http://www.fontsquirrel.com/fonts/DejaVu-Sans#fontface
 */
@font-face {
  font-family: "DejaVuSansCondensed";
  src: url("/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.eot");
  src: local("☺"), url("/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.woff") format("woff"), url("/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.ttf") format("truetype"), url("/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.svg#webfontxIcLJ5hx") format("svg"); }

html, body {
  height: 100%; }

a img {
  border-width: 0px; }

a {
  text-decoration: none;
  color: #182f4c; }

a:hover {
  text-decoration: underline; }

body {
  font-family: "DejaVuSansCondensed", Arial, sans-serif;
  font-size: 15px;
  background-color: #dbe3e2; }
  body .sponsor-container {
    width: 80px;
    height: 80px;
    background-color: white;
    margin-right: 15px;
    float: left; }
  body .sponsor {
    max-width: 80px;
    max-height: 80px;
    background-color: white; }
  body .hint {
    font-size: 10px;
    font-style: italic; }
  body .pad_2 {
    padding: 0 20px; }
  body .pad_1 {
    padding: 0 10px; }
  body .toolbar {
    text-align: right; }
  body .instructions {
    font-size: 12px;
    font-style: italic; }
  body .bordered {
    -webkit-box-shadow: 1pt 1pt 5px #cccccc;
    -moz-box-shadow: 1pt 1pt 5px #cccccc; }
  body #content_wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%; }
    body #content_wrapper #header {
      color: #182f4c;
      background-image: url("/images/header_opt.png");
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto; }
      body #content_wrapper #header #mojo {
        padding-top: 2em;
        font-size: 28px;
        text-align: right; }
      body #content_wrapper #header .mojo {
        font-family: "ChunkFiveRegular"; }
      body #content_wrapper #header #sub-mojo {
        font-size: 20px; }
    body #content_wrapper #splash {
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      -moz-box-shadow: 0 0 10px #cccccc;
      -webkit-box-shadow: 0 0 10px #cccccc;
      box-shadow: 0 0 10px #cccccc;
      background-color: white;
      padding: 20px 0;
      font-size: 32px;
      background-image: url("/images/portejaune.jpeg");
      background-position: top right;
      background-repeat: no-repeat;
      margin-bottom: -12px; }
    body #content_wrapper #menu a:hover {
      background-image: url("/images/post_it_up_opt.png"); }
    body #content_wrapper #menu .menuItem {
      background-image: url("/images/post_it_opt.png");
      background-repeat: no-repeat;
      height: 38px;
      padding-top: 7px;
      text-align: center;
      text-decoration: none;
      font-size: 13px; }
      body #content_wrapper #menu .menuItem div {
        -moz-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg); }
    body #content_wrapper #content {
      margin-left: auto;
      margin-right: auto; }
      body #content_wrapper #content #content_container {
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        -moz-box-shadow: 0 0 10px #cccccc;
        -webkit-box-shadow: 0 0 10px #cccccc;
        box-shadow: 0 0 10px #cccccc;
        background-color: white;
        margin-bottom: 10px;
        padding: 20px 0; }
        body #content_wrapper #content #content_container #promote-ressources img {
          max-width: 220px; }
        body #content_wrapper #content #content_container .bordered {
          margin-bottom: 50px; }
        body #content_wrapper #content #content_container .icon {
          vertical-align: middle; }
        body #content_wrapper #content #content_container div.sponsorship {
          height: 150px;
          width: 150px;
          -webkit-box-shadow: 1pt 1pt 5px #cccccc;
          -moz-box-shadow: 1pt 1pt 5px #cccccc;
          vertical-align: middle; }
        body #content_wrapper #content #content_container img.logoSponsor {
          max-width: 145px;
          max-height: 145px; }
        body #content_wrapper #content #content_container #download {
          text-decoration: none; }
        body #content_wrapper #content #content_container #download > img {
          vertical-align: middle; }
        body #content_wrapper #content #content_container .buttons {
          height: 34px;
          margin-bottom: 15px; }
          body #content_wrapper #content #content_container .buttons a {
            display: block;
            width: 210px;
            padding: 7px;
            text-align: center;
            background: #e1e1e1 repeat scroll 0 0 transparent;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1');
            background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e1e1e1)) repeat scroll 0 0 transparent;
            background: -moz-linear-gradient(top, white, #e1e1e1) repeat scroll 0 0 transparent;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            text-shadow: 1px 1px 0 white; }
          body #content_wrapper #content #content_container .buttons a:hover {
            text-shadow: -1px -1px 0 black;
            color: white;
            background: #a4b5cb repeat scroll 0 0 transparent;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4B5CB', endColorstr='#2F5C96');
            background: -webkit-gradient(linear, left top, left bottom, from(#a4b5cb), to(#2f5c96)) repeat scroll 0 0 transparent;
            background: -moz-linear-gradient(top, #a4b5cb, #2f5c96) repeat scroll 0 0 transparent; }
        body #content_wrapper #content #content_container .avatar {
          border: solid 1px grey;
          padding: 1px;
          -webkit-box-shadow: 1pt 1pt 5px #cccccc;
          -moz-box-shadow: 1pt 1pt 5px #cccccc; }
        body #content_wrapper #content #content_container h3 {
          font-family: serif; }

#footer {
  background-color: #182f4c;
  text-align: center;
  clear: both;
  position: relative;
  height: 10em;
  color: white; }
  #footer #footer_container {
    font-size: 80%;
    padding-top: 1em; }
    #footer #footer_container .logo-sponsor {
      width: 80px;
      height: 80px;
      background-color: white;
      margin-right: 15px; }
