%h1.pad_2
  = render @conference

- @sessions.each do |session|
  = render 'sessions/header', :session => session
  = render 'sessions/summary', :session => session

.pagination
  = paginate @sessions

