$wood: #DEB887
$orange: #FFA500
$sand: #DBE3E2
$darkblue: #182f4c
$radius: 15px
$footersize: 10em
$margin: 20px
$menuItemRotation: 5deg

@mixin box($color)
  -moz-border-radius: 5px
  border-radius: 5px
  border: 5px solid darken($color, 10%)
  padding: 0 10px
  background-color: $color

@mixin content()
  width: 960px
  margin-left: auto
  margin-right: auto

@mixin rounded()
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius
  -moz-box-shadow: 0 0 10px #ccc
  -webkit-box-shadow: 0 0 10px #ccc
  box-shadow: 0 0 10px #ccc
  padding: 1px 20px
  background-color: white

/**
 * see http://www.fontsquirrel.com/fonts/ChunkFive#fontface
 */
@font-face
  font-family: "ChunkFiveRegular"
  src: url('/fonts/ChunkFiveRegular/Chunkfive-webfont.eot')
  src: local('☺'), url('/fonts/ChunkFiveRegular/Chunkfive-webfont.woff') format('woff'), url('/fonts/ChunkFiveRegular/Chunkfive-webfont.ttf') format('truetype'), url('/fonts/ChunkFiveRegular/Chunkfive-webfont.svg#webfontb5K2fJwj') format('svg')

/**
 * see http://www.fontsquirrel.com/fonts/DejaVu-Sans#fontface
 */
@font-face
  font-family: "DejaVuSansCondensed"
  src: url('/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.eot')
  src: local('☺'), url('/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.woff') format('woff'), url('/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Sans/DejaVuSansCondensed-webfont.svg#webfontxIcLJ5hx') format('svg')

html, body
  height: 100%

a img
  border-width: 0px

body
  font-family: "DejaVuSansCondensed", Arial, sans-serif
  font-size: 15px
  margin: 0 auto
  padding: 0
  background-color: $sand
  
  .hint
    font-size: 10px
    font-style: italic

  #content_wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin-bottom: -$footersize

    #header
      color: $darkblue
      background-image: url('/images/header_opt.png')
      background-repeat: no-repeat
      @include content

      #mojo
        padding-top: 6em

      #splash
        @include rounded
        padding: 20px 0 1px 20px
        font-size: 32px
        background-image: url('/images/portejaune.jpeg')
        background-position: top right
        background-repeat: no-repeat
        margin-bottom: -12px

      .mojo
        font-family: 'ChunkFiveRegular'

      #sub-mojo
        font-size: 22px

      #menu

        a:hover
          background-image: url('/images/post_it_up_opt.png')

        .menuItem
          background-image: url('/images/post_it_opt.png')
          background-repeat: no-repeat
          height: 38px
          padding-top: 7px
          text-align: center
          text-decoration: none
          font-size: 13px
          
          div
            -moz-transform: rotate($menuItemRotation)
            -webkit-transform: rotate($menuItemRotation)
            -o-transform: rotate($menuItemRotation)
            transform: rotate($menuItemRotation)

    .header
      @include box($wood)

    #content
      @include content
      padding-top: 20px

      #content_container
        @include rounded
        margin-bottom: $margin
        padding-top: $margin

        #download
          text-decoration: none

        #download>img
          vertical-align: middle

#push
  height: $footersize

#footer
  background-color: $darkblue
  text-align: center
  clear: both
  position: relative
  height: $footersize
  color: white

  #footer_container
    font-size: 80%
    padding-top: 1em

    .logo-sponsor
      margin: 0 15px 7px
      border: 0

    a:hover
