%h2= "Précédentes Editions"
%p
  %img{ :src => "/images/victorian-ornament-2.png", :alt => "Calendar" }
  Agile France est une des plus anciennes réunion française sur l'agilité. Voici quelques traces du passé de la conférence.

%ol.prefix_1
  %li{ :value => "5" }
    %span{ :style => "vertical-align: super" }
      ème
    édition - Agile France 2010
    %ul
      %li
        Vidéos -
        %a{ :href => "http://agilefrance.ubicast.tv/categories/conference-agile-2010/" }
          Vidéos officielles des sessions (avec les slides)
      %li="..."
  %li{ :value => "4" }
    %span{ :style => "vertical-align: super" }
      ème
    édition - XPDay 2009
    %ul
      %li
        Article de blog -
        %a{ :href => "http://www.xebia.fr/events/xebia-sponsor-de-la-conf%C3%A9rence-xp-day-france-2009" }
          Xebia sponsor de la conférence XP Day France 2009
      %li
        Article de blog -
        %a{ :href => "http://blog.valtech.fr/wordpress/2009/05/26/xp-day-france-2009-les-premiers-retours/" }
          XP Day France 2009, les premiers retours
      %li
        Article de blog -
        %a{ :href => "http://www.touilleur-express.fr/2009/05/27/xp-day-france-2009-journee-1/" }
          XP Day France 2009 – journée 1
      %li="..."
  %li{ :value => "3" }
    %span{ :style => "vertical-align: super" }
      ème
    édition - XPDay 2008
    %ul
      %li
        %a{ :href => "http://yota.smugmug.com/Events/XPDayFR-2008/6827298_gDwDa" }
          Galerie photo
      %li="..."
  %li{ :value => "2" }
    %span{ :style => "vertical-align: super" }
      ème
    édition - XPDay 2007
    %ul
      %li
        %a{ :href => "http://yota.smugmug.com/Events/XPDay-FR-2007/3325543_wTJCXs" }
          Galerie photo
      %li
        Article de blog -
        %a{ :href => "http://www.hortis.ch/index.php/A-PROPOS-D-HORTIS/2007/hortis-aux-xp-day-france-2007-avec-une-conference-sur-ruby-on-rails-2-3-mai-2007.html" }
          Hortis aux XP Day France 2007, avec une conférence sur Ruby on Rails: 2 & 3 mai 2007
      %li="..."
  %li{ :value => "1" }
    %span{ :style => "vertical-align: super" }
      ère
    édition - XPDay 2006
    %ul
      %li
        Article de blog -
        %a{ :href => "http://zope.afpy.org/Members/tarek/afpynews.2006-01-09.2799716765" }
          XP Day France 2006
      %li="..."
%p="La page est enrichie au fil de l'eau avec les autres traces du passé découvertes."
%p="Pour nous soumettre un contenu, vous pouvez envoyez un courrier éléctronique à orga AROBASE conf POINT agile TIRET france POINT org. Merci !"
