.pad_2
  %h2= "Matériel de promotion"
  %p
    Voici le matériel que de promotion que vous pouvez utiliser pour communiquer sur la conférence Agile France. Vous êtes libres d'utiliser ces éléments pour mettre en avant la conférence !

  %ul.prefix_1
    %li.grid_4
      %h3= "Logo officiel"
      %a{ :href => "/images/AgileFranceConference2011-logo.png" }
        %img{ :src => "/images/AgileFranceConference2011-logo.png" }
    %li.grid_4
      %h3= "Flyer"
      %a{ :href => "/images/AgileFranceConference2011-flyer.png" }
        %img{ :src => "/images/AgileFranceConference2011-flyer.png", :height => "300px" }

  %div.clear
