.content
  %table
    %tr
      %th{ :colspan => 3 }
        Inscrit
      %th{ :colspan => 3 }
      %th{ :colspan => 3 }
        Acheteur
    %tr
      %th Nom
      %th Prénom
      %th Société
      %th Produit
      %th Prix
      %th Qté
      %th Prénom
      %th Nom
      %th Société
      %th Confirmation Dîner
      %th Montant réglé
      %th Signature
    %tr
      %th{ :colspan => 2 }
        Email
      %th{ :colspan => 4 }
      %th{ :colspan => 2 }
        Email

    %tr
    = render @registrations
