.content
  %table
    %tr
      %th{ :colspan => 3 }
        Inscrit
      %th{ :colspan => 3 }
      %th{ :colspan => 3 }
        Acheteur
    %tr
      %th Prénom
      %th Nom
      %th Email
      %th Produit
      %th Prix
      %th Qté
      %th Prénom
      %th Nom
      %th Email

    %tr
    = render @registrations
