%h1.toolbar
  .pad_2
    = link_to t('account.title'), edit_account_path
    |
    = link_to t('account.sessions.title'), sessions_account_path
    |
    = link_to t('account.registrations.title'), registrations_account_path
