=render 'toolbar'

#orders
  -@executions_by_conference.each do |conference, executions|
    %h3
      = introduce(conference)
    %ul
      - executions.each do |execution|
        %li.execution{:id => "execution_#{execution.id}"}
          = render 'executions/execution', :execution => execution